#home {
  background-image: url("images/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

#home h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

#home p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}

#home button {
  background-color: #fff;
  border: none;
  padding: 15px 30px;
  color: #000;
  cursor: pointer;
}

#services {
  padding: 50px;
}

#services ul {
  list-style-type: none; /* This removes the default bullet points */
  padding: 0; /* This removes the default padding */
}

#services li {
  background-color: #f9f9f9; /* This sets the background color of the list items */
  padding: 20px; /* This sets the padding around the content of the list items */
  margin-bottom: 20px; /* This adds some space between the list items */
}